<form action="?c=user&m=doLogin" method="POST">
	<div>
		<label for="username">Username:</label>
		<input type="text" name="username">
	</div>
	<div>
		<label for="password">Password:</label>
		<input type="password" name="password">
	</div>
	<button type="submit">Login</button>
	<button> <a class="link-none-style" href="?c=user&m=register">Register</a> </button>
</form>

<!-- Show all error -->
<?php if(isset($_GET['mess']) && $_GET['mess'] == 'm'): ?>
<p>Username or password must not empty</p>
<?php endif; ?>

<?php if(isset($_GET['mess']) && $_GET['mess'] == 'nf'): ?>
<p>Username or password is not corrected</p>
<?php endif; ?>
<!-- /Show all error -->