<p> Hello
  <?= $_SESSION['username'] ?>.
</p>

<!-- Naviagtion -->
<p>If you want to generate new link, please click <a href="index.php">here.</a></p>
<p>If you want to logout, please <a href="?c=user&m=doLogout">Click here</a>.</p>
<!-- /Naviagtion -->

<p>This is all your link:</p>
<!-- Show list link -->
<table>
  <tr class="text-center">
    <td width="4%">Order</td>
    <td width="30%">Origin link</td>
    <td width="10%">Shorten link</td>
    <td width="10%">User name</td>
    <td width="5%"></td>
    <td width="5%"></td>
  </tr>
  <?php $count = 0; foreach($linkList as $key => $link): $count++ ?>
  <tr class="text-center">
    <td>
      <?= $count ?>
    </td>
    <td class="text-left">
      <?= $link['origin_link'] ?>
    </td>
    <td>
      <a id="<?= $link['id'] ?>" href="<?= $link['origin_link'] ?>" target="_blank" onclick="increaseCounter(this.id)">
        <?= $_SERVER['SERVER_NAME'] ."/s/" . $link['shorten_link'] ?>
      </a>
    </td>
    <td>
      <?= $link['username'] ?>
    </td>
    <td>
      <a href="?m=edit&id=<?php echo $link['link_id'] ?>">Edit</a>
    </td>
    <td>
      <a href="?m=doDelete&id=<?php echo $link['link_id'] ?>">Delete</a>
    </td>
  </tr>
  <?php endforeach; ?>
</table>
<!-- /Show list link -->

<script type="text/javascript">
  const queryString = new URLSearchParams(window.location.search);
  function increaseCounter(link) {
    let xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        console.info("Get data from server", this.responseText);
        location.reload(true);
      }
    };
    xhttp.open("GET", `?m=doCount&id=${link}`, true);
    xhttp.send();
  }
</script>