<?php if(!isset($_SESSION['username'])): ?>
<a href="?c=user&m=login">Login</a>
<a href="?c=user&m=register">Register</a>
<?php else: ?>
<p>Hello <?php echo $_SESSION['username']; ?>. You can see all your link at <a href="?c=user&m=userLink">here</a>
</p>
<?php endif; ?>

<!-- Form generate link -->
<form action="?m=doCreate" method="POST">
	<label>Your link: </label> <input type="text" name="link">
	<button type="submit">Generate link</button>

<!-- Show all error -->
	<?php if(isset($newLink)): ?>
	<p class=""> Your new link is
		<a id="<?= $newLink['id'] ?>" href="<?= $newLink['origin_link'] ?>" target="_blank"
			onclick="increaseCounter(this.id)">
			<?= $_SERVER['SERVER_NAME'] ."/" . $newLink['shorten_link']?>
		</a>
	</p>
	<?php endif;?>
<!-- /Show all error -->

</form>
<!-- /Form generate link -->

<!-- Show list link -->
<?php if($listLink): ?>
<table>
	<tr class="text-center">
		<td width="5%">Id</td>
		<td width="30%">Origin link</td>
		<td width="30%">Shorten link</td>
		<td width="5%">Visit time</td>
		<td width="15%">Created at</td>
		<td width="15%">Updated at</td>
	</tr>
	<?php foreach($listLink as $key => $link): ?>
	<tr>
		<td>
			<?= $link['id'] ?>
		</td>
		<td>
			<?= $link['origin_link'] ?>
		</td>
		<td class="text-center">
			<a id="<?= $link['id'] ?>" href="<?= $link['origin_link'] ?>" target="_blank" onclick="increaseCounter(this.id)">
				<?= $_SERVER['SERVER_NAME'] ."/" . $link['shorten_link'] ?>
			</a>
		</td>
		<td class="text-center">
			<?= $link['visit_time'] ?>
		</td>
		<td class="text-center">
			<?= $link['created_at'] ?>
		</td>
		<td class="text-center">
			<?= $link['updated_at'] ?>
		</td>
	</tr>
	<?php endforeach; ?>
</table>
<?php endif; ?>
<!-- /Show list link -->

<!-- Paginate -->
<?php echo $pagView['pageHtml']; ?>
<!-- /Paginate -->

<script type="text/javascript">
	const queryString = new URLSearchParams(window.location.search);
	function increaseCounter(link) {
		const linkId = queryString.get('link') || link;
		let xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function () {
			if (this.readyState == 4 && this.status == 200) {
				console.info("Get data from server", this.responseText);
				location.reload(true);
			}
		};
		xhttp.open("GET", `?m=doCount&id=${linkId}`, true);
		xhttp.send();
	}
</script>