<!-- Show list link -->
<?php if($listLink): ?>
<table>
	<tr class="text-center">
		<td width="5%">Id</td>
		<td width="30%">Origin link</td>
		<td width="30%">Shorten link</td>
		<td width="15%">Created at</td>
		<td width="15%">Updated at</td>
	</tr>
	<?php foreach($listLink as $key => $link): ?>
	<tr>
		<td>
			<?= $link['id'] ?>
		</td>
		<td>
			<?= $link['origin_link'] ?>
		</td>
		<td class="text-center">
			<a id="<?= $link['id'] ?>" href="<?= $link['origin_link'] ?>" target="_blank">
				<?= $_SERVER['SERVER_NAME'] ."/" . $link['shorten_link'] ?>
			</a>
		</td>
		<td class="text-center">
			<?= $link['created_at'] ?>
		</td>
		<td class="text-center">
			<?= $link['updated_at'] ?>
		</td>
	</tr>
	<?php endforeach; ?>
</table>
<?php endif; ?>
<!-- /Show list link -->