<!-- Form generate link -->
<form action="?m=doCreate" method="POST">
	<label>Your link: </label> <input type="text" name="link">
	<button type="submit">Generate link</button>
	<?php if(isset($_GET['mess']) && $_GET['mess'] == 'd'): ?>
	<p class="text-red"> This link is already exist, please input other link</p>
	<?php endif;?>

	<?php if(isset($newLink)): ?>
	<p class=""> Your new link is
		<a href="<?= $newLink['origin_link'] ?>" target="_blank">
			<?= $_SERVER['SERVER_NAME'] ."/" . $newLink['shorten_link']?>
		</a>
	</p>
	<?php endif;?>
</form>
<!-- /Form generate link -->

<!-- Show list link -->
<?php if($listLink): ?>
<table>
	<tr class="text-center">
		<td width="5%">Id</td>
		<td width="30%">Origin link</td>
		<td width="30%">Shorten link</td>
		<td width="15%">Created at</td>
		<td width="15%">Updated at</td>
	</tr>
	<?php foreach($listLink as $key => $link): ?>
	<tr>
		<td>
			<?= $link['id'] ?>
		</td>
		<td>
			<?= $link['origin_link'] ?>
		</td>
		<td class="text-center">
			<a id="<?= $link['id'] ?>" href="<?= $link['origin_link'] ?>" target="_blank">
				<?= $_SERVER['SERVER_NAME'] ."/" . $link['shorten_link'] ?>
			</a>
		</td>
		<td class="text-center">
			<?= $link['created_at'] ?>
		</td>
		<td class="text-center">
			<?= $link['updated_at'] ?>
		</td>
	</tr>
	<?php endforeach; ?>
</table>
<?php endif; ?>
<!-- /Show list link -->